:root {
    --col-white: #ffffff;
    --col-shadow: rgba(0, 0, 0, 0.281);

    --col-darker: #564946;
    --col-dark: #558564;
    --col-medium: #49D49D;
    --col-light: #69EBD0;
    --col-lighter: #95F9E3;

    --font-header: 'Satisfy', cursive;
    --font-paragraph: 'Lato', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    background-color: var(--col-dark);
    min-width: 500px;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
    width: 100%;

    background-color: var(--col-medium);
    border-width: 1px;
    border-style: none none solid none;
    border-color: var(--col-dark);
    box-shadow: 0rem 0.1rem 0.1rem var(--col-shadow);
    
    padding: 0 1rem;
    display: flex;
    flex-direction: row;

    align-items: center;
}

header img {
    margin-right: 1rem;
    border-width: 1px;
    border-style: none solid;
    border-color: var(--col-dark);
    max-height: 3rem;
}

header h2 {
    color: var(--col-darker);
    font-size: 2rem;
}

header nav {
    margin-left: auto;
    min-width: 300px;
}

li {
    float: left;
    list-style-type: none;
}

a {    
    text-decoration: none;
    color: var(--col-darker);
    font-size: 1rem;
    line-height: 3;
    padding: 0 1rem;
    display: inline-block;
}

li:hover,
#submit:hover {
    background-color: var(--col-lighter);
    cursor: pointer;
}

#pencil-hb {
    background-color: var(--col-lighter);
    padding: 2rem;
}

iframe{
    display: block;
    margin: 0 auto;
    border: 5px solid var(--col-dark);
}

#description {
    background: repeating-linear-gradient(
        45deg,
        var(--col-white),
        var(--col-white) 100px,
        var(--col-lighter) 100px,
        var(--col-lighter) 200px
    );
    background-attachment: fixed;

    padding: 1rem 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#description h1 {
    font-size: 4rem;
}

#description > p,
#subscribe > P {
    flex-basis: 100%;
    text-align: center;
    color: var(--col-darker);
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.product {
    flex: 200px;
    max-width: 300px;
    align-self: stretch;

    background-color: var(--col-light);
    border-width: 5px;
    border-style: solid;
    border-color: var(--col-light);
    padding: 1.5rem;
    text-align: center;
}

.product h1 {
    color: var(--col-dark);
}

.product:hover h1 {
    color: var(--col-darker);
    transition: 500ms;
}

.product:focus {
    border-color: var(--col-dark);
}

.product:focus h1 {
    color: var(--col-dark);
}

#subscribe {
    padding: 1rem 20%;
    background-color: var(--col-light);
}

form {
    text-align: center;
    border: 5px dashed var(--col-dark);
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}

input,
label,
#submit {
    text-align: center;
    margin: 0 15%;
    font-family: var(--font-paragraph);
    font-size: 1rem;
}

input,
#submit {
    height: 1.5rem;
    border-radius: 0;
    border: 1px solid var(--col-darker);
}

#submit {
    color: var(--col-darker);
    background-color: var(--col-medium);
}

footer {
    background-color: var(--col-dark);
    color: var(--col-lighter);
    text-align: center;
    padding: 1rem 10%;
}

h1,
h2 {
    font-family: var(--font-header);
}

p,
a,
label {
    font-family: var(--font-paragraph);
}

em {
    color: var(--col-medium);
}


@media (max-width: 700px) {
    #description,
    #subscribe {
        padding: 1rem 1rem;
    }
}

@media (max-width: 1000px) {
    header {
        padding-top: 1rem;
        flex-direction: column;
    }
    
    header img {
        display: none;
    }

    header nav {
        margin-right: auto;
    }
}