/* ------------------------ */
/* Table of contents        */
/* ------------------------ */
/* 1. Properties            */
/* 2. Layout                */
/* 3. Components            */
/* 3.1 Header & Footer      */
/* 3.2 Form                 */
/* 4. Typography            */
/* 5. Utility               */
/* 6. Media queries         */
/* ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Satisfy&display=swap');

/* ------------------------ */
/*  1.PROPERTIES            */
/* ------------------------ */

:root {
    --col-white: #ffffff;
    --col-shadow: rgba(0, 0, 0, 0.281);

    --col-darker: #564946;
    --col-dark: #558564;
    --col-medium: #49D49D;
    --col-light: #69EBD0;
    --col-lighter: #95F9E3;

    --font-header: 'Satisfy', cursive;
    --font-paragraph: 'Lato', sans-serif;
}


/* ------------------------ */
/*  2.LAYOUT                */
/* ------------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    background-color: var(--col-dark);
    min-width: 512px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* ------------------------ */
/*  3.COMPONENTS            */
/* ------------------------ */

header {
    background-color: var(--col-medium);
    border-width: 1px;
    border-style: none none solid none;
    border-color: var(--col-dark);
    box-shadow: 0rem 0.1rem 0.1rem var(--col-shadow);
    
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;

    align-items: center;
}

header img {
    display: none;

    margin-right: 1rem;
    border-width: 1px;
    border-style: none solid;
    border-color: var(--col-dark);
    height: 3rem;
}

header nav {
    min-width: 300px;
}

li {
    float: left;
    list-style-type: none;
    height: 3rem;
}

li:hover,
#submit:hover {
    background-color: var(--col-lighter);
    cursor: pointer;
}

#pencil-hb {
    background-color: var(--col-lighter);
    padding: 2rem;
}

#description {
    background: repeating-linear-gradient(
        45deg,
        var(--col-white),
        var(--col-white) 100px,
        var(--col-lighter) 100px,
        var(--col-lighter) 200px
    );
    background-attachment: fixed;

    padding: 1rem 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#description > p,
#subscribe > P {
    flex-basis: 100%;
    
}

.product {
    flex: 200px;
    max-width: 300px;
    align-self: stretch;

    background-color: var(--col-light);
    border-width: 5px;
    border-style: solid;
    border-color: var(--col-light);
    padding: 1.5rem;
}

.product:focus {
    border-color: var(--col-dark);
}


#subscribe {
    background-color: var(--col-light);
    padding: 1rem;
}

#subscribe > * {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

form {
    border: 5px dashed var(--col-dark);
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}

input,
#submit {
    height: 1.5rem;
    border-radius: 0;
    border: 1px solid var(--col-darker);
}

#submit {
    background-color: var(--col-medium);
}

footer {
    background-color: var(--col-dark);
    padding: 1rem 10%;
}


/* ------------------------ */
/*  4.TYPOGRAPHY            */
/* ------------------------ */

header h2 {
    font-size: 2rem;
}

a {    
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 2rem;
}

#description h1 {
    font-size: 4rem;
}


#description > p,
#subscribe > P {
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

#description > p,
#subscribe > P,
.product,
form,
input,
label,
#submit,
footer {
    text-align: center;
}

.product h1 {
    color: var(--col-dark);
}

.product:hover h1 {
    color: var(--col-darker);
    transition: 500ms;
}


.product:focus h1 {
    color: var(--col-dark);
}

input,
label,
#submit {
    font-size: 1rem;
}

header h2,
a,
#description > p,
#subscribe > P,
#submit {
    color: var(--col-darker);
}

footer {
    color: var(--col-lighter);
}

h1,
h2 {
    font-family: var(--font-header);
}

p,
a,
label,
input,
#submit {
    font-family: var(--font-paragraph);
}

em {
    color: var(--col-medium);
}


/* ------------------------ */
/*  6.MEDIA QUERIES         */
/* ------------------------ */

@media (min-width: 768px) {
    #subscribe {
        padding: 1rem 20%;
    }
}

@media (min-width: 998px) {
    header {
        flex-direction: row;
        padding-top: 0rem;
    }
    
    header img {
        display: block;
    }

    header nav {
        margin-left: auto;
    }

}