/* ------------------------ */
/* Table of contents        */
/* ------------------------ */
/* 1. Properties            */
/* 2. Layout                */
/* 3. Components            */
/* 3.1. Header              */
/* 3.2. Hero                */
/* 3.3. Product             */
/* 3.4. Subscribe           */
/* 3.5. Footer              */
/* 4. Typography            */
/* 5. Utility               */
/* 6. Media queries         */
/* ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Satisfy&display=swap');

/* ------------------------ */
/*  1.PROPERTIES            */
/* ------------------------ */

:root {
    --col-white: #ffffff;
    --col-shadow: rgba(0, 0, 0, 0.281);

    --col-darker: #564946;
    --col-dark: #558564;
    --col-medium: #49D49D;
    --col-light: #69EBD0;
    --col-lighter: #95F9E3;

    --font-header: 'Satisfy', cursive;
    --font-paragraph: 'Lato', sans-serif;

    --section-height-mobile: calc(100vh - 7rem);
    --section-height-laptop: calc(100vh - 4rem);
    --section-margin-top-mobile: 7rem;
    --section-margin-top-laptop: 4rem;
}


/* ------------------------ */
/*  2.LAYOUT                */
/* ------------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--col-dark);
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 375px;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#hero {
    margin-top: var(--section-margin-top-mobile);
}

#hero,
#product,
#subscribe {
    min-height: var(--section-height-mobile);
}


/* ------------------------ */
/*  3.COMPONENTS            */
/*  3.1.HEADER              */
/* ------------------------ */

header {
    background-color: var(--col-medium);
    border-bottom: .1rem solid var(--col-darker);

    position: fixed;
    width: 100vw;
    z-index: 2;
}

#headerContainer {
    padding-top: 1rem;

    display: grid;
    grid-template-areas: "  h1  "
                         "  nav ";
    grid-template-rows: auto auto;
}

#header-img {
    display: none;
    height: 3rem;
}

h1 {
    grid-area: h1;
    text-align: center;
}

nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-link {
    display: inline-block;
    padding: 1rem;
}


/* ------------------------ */
/*  3.2.HERO                */
/* ------------------------ */

#hero {
    background-color: var(--col-dark);
}

svg {
    position: absolute;
    width: 0;
    height: 0;
}

video {
    clip-path: url(#clip-00);
    width: 100%;
}


/* ------------------------ */
/*  3.3.PRODUCT             */
/* ------------------------ */

#product {
    /* 45 degree stripes on background */
    background: repeating-linear-gradient(
        45deg,
        var(--col-white),
        var(--col-white) 100px,
        var(--col-lighter) 100px,
        var(--col-lighter) 200px
    );
    background-attachment: fixed;
}

#productContainer {    
    padding-top: 2rem;
    padding-bottom: 2rem;

    /* Positioning for productCards */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.productCard {
    background-color: var(--col-light);
    padding: 1.5rem;

    flex: 200px;
    max-width: 300px;
    align-self: stretch;

    border-width: 5px;
    border-style: solid;
    border-color: var(--col-light);
}


/* ------------------------ */
/*  3.4.SUBSCRIBE           */
/* ------------------------ */

#subscribe {
    background-color: var(--col-medium);
}

#subscribeContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

form {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50ch;
    padding: 2rem;
    border: 5px dashed var(--col-dark);

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

#email,
#submit {
    padding: .5rem;
    border-radius: 0;
    border: 1px solid var(--col-darker);
}

#email {
    background-color: var(--col-lighter);
}

#submit {
    background-color: var(--col-lighter);
}

#submit:hover,
#submit:focus {
    background-color: var(--col-light);
}


/* ------------------------ */
/*  3.5.FOOTER              */
/* ------------------------ */

footer {
    background-color: var(--col-darker);
}

#footerContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* ------------------------ */
/*  4.TYPOGRAPHY            */
/* ------------------------ */

h1,
h2,
h3 {
    font-family: var(--font-header);
}

p,
a,
label,
input,
#submit {
    font-family: var(--font-paragraph);
}

html {    
    font-size: 18px;
}

input,
label,
#submit,
.nav-link {
    font-size: 1rem;
}

#subscribeContainer > P {
    font-size: 1.5rem;
}

header h1,
#productContainer > p {
    font-size: 2rem;
}

#productContainer > p,
#subscribeContainer > P {
    letter-spacing: 0.1rem;
}

header h1,
#submit,
.nav-link,
#productContainer > p,
#subscribeContainer > P {
    color: var(--col-darker);
}

#product h2 {
    font-size: 4rem;
    color: var(--col-darker);
}

em {
    color: var(--col-medium);
}

footer {
    color: var(--col-lighter);
}

header ul {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}

#product,
#subscribe,
#email,
footer {
    text-align: center;
}

#submit {
    font-weight: 700;
    color: var(--col-darker);
}


/* ------------------------ */
/*  5.UTILITY               */
/* ------------------------ */

.nav-link,
#submit {
    cursor: pointer;
}

.nav-link:hover {
    background-color: var(--col-lighter);
}

.productCard:hover {
    border-color: var(--col-dark) !important;
    transition: 500ms;
}

.productCard:focus {
    border-color: var(--col-darker) !important;
}

.center {
    display: grid;
    place-items: center;
}

.visuallyHidden {
    display: none;
}

.scroll {
    scroll-margin-top: var(--section-margin-top-mobile);
}


/* ------------------------ */
/*  6.MEDIA QUERIES         */
/* ------------------------ */

@media (min-width: 768px) {
    
    #headerContainer {
        grid-template-areas: "  img     h1      .   "
                             "  nav     nav     nav ";
        grid-template-columns:  5rem    1fr     5rem;
    }

    #header-img {
        grid-area: img;
        display: block;
    }
}

@media (min-width: 1024px) {
    
    #headerContainer {
        grid-template-areas: "  img     h1      nav ";
        grid-template-columns:  27%     1fr     27%;
        grid-template-rows: auto;
    }

    #hero {
        margin-top: var(--section-margin-top-laptop);
    }

    #hero,
    #product,
    #subscribe {
        min-height: var(--section-height-laptop);
    }

    .scroll {
        scroll-margin-top: var(--section-margin-top-laptop);
    }
}